.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.task {
  font-weight: bold;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.delete-all:hover {
 background-color: rgb(255, 0, 0);
}

.is-done {
  opacity: 0.5;
  text-decoration: line-through;
  font-style: italic;
}